<!doctype html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Angular Material style sheet -->
<link rel="stylesheet"
	href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"> -->
<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap-theme.min.css" />
<link rel="stylesheet" type="text/css" href="stylesheets/dialog.css" />
<link rel="stylesheet" type="text/css" href="stylesheets/tradeconfo.css" />
<link rel="stylesheet" type="text/css" href="stylesheets/invoice.css" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!--
    Your HTML content here
  -->
<!-- external tools lib -->
<script	src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>

<!-- Angular Material requires Angular.js Libraries -->
<script	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-touch.js"></script>
<script	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
<script	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
<script	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

<!-- Angular Material Library -->
<script	src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

<!-- uigrid library -->
<script src="http://ui-grid.info/docs/grunt-scripts/csv.js"></script>
<script src="http://ui-grid.info/docs/grunt-scripts/pdfmake.js"></script>
<script src="http://ui-grid.info/docs/grunt-scripts/vfs_fonts.js"></script>
<script src="javascripts/angular-ui-grid/ui-grid.js"></script>
<link rel="stylesheet" type="text/css" href="javascripts/angular-ui-grid/ui-grid.css" />

<script type="text/javascript" src="javascripts/cross.js"></script>
<!--<script type="text/javascript" src="javascripts/datepicker.js"></script>-->

</head>
<body ng-app="app">
	<div ng-controller="AppCtrl as pc" class="md-padding"	id="popupContainer" ng-cloak>
	<md-card> 
		<md-card-title> 
			<md-card-title-text>
				<span class="md-headline">Trade Report Parameters</span> 
			</md-card-title-text> 
		</md-card-title> 
		<md-card-content layout-padding>
			<div layout-gt-sm="row">
				<md-input-container class="md-block" ng-show="disabled"> 
					<label>Instrument</label> 
					<md-select ng-model="myType"> 
					<md-option>	<em></em></md-option> 
					<md-option ng-repeat="n in instruments" ng-value="n">{{n}}</md-option>
					</md-select>
				</md-input-container>
				<md-input-container class="md-block"> 
					<label>Cross Type</label> 
					<md-select ng-model="myTrType"> 
						<md-option><em></em></md-option> 
						<md-option ng-repeat="n in trTypes" ng-value="n">{{n}}</md-option>
					</md-select> 
				</md-input-container>
				
				<md-input-container class="md-block" flex-gt-sm>
					<label>Symbol</label> 
					<input min="100" ng-model="mySymbol" required>
					<div class="hint" >Instrument Expiry Strike Multiplier Strategy Premium REF</div>
				    <div ng-messages="userForm.symbol.$error" role="alert">
     					<div ng-message="required"">This is required</div>
   					</div> 
				</md-input-container>

				
				<md-input-container class="md-block" > <label>Side</label> 
				<md-select ng-model="mySide" ng-disabled="myTrType !== 'T4 - Interbank Trade Report'">
				<md-option><em></em></md-option> 
				<md-option ng-repeat="n in sides" ng-value="n">{{n}}</md-option>
				</md-select> </md-input-container>
	
				<md-input-container class="md-block" >
				<label>Counter Party</label> <input ng-model="myCpCompany" ng-disabled="myTrType !== 'T4 - Interbank Trade Report'"> </md-input-container>
				
			<!--
			<md-button class="md-primary md-raised"
					ng-click="createLegs($event, myType, mySide, myQty, mySymbol, myPrice, myDelta)" >
				Create legs </md-button>-->
			<md-button class="md-primary md-raised" ng-show="disabled"
					ng-click="showCrossDialog($event)" >
				Create legs </md-button>
				
			<md-button class="md-primary md-raised" ng-click="showCrossDetail($event, myType, mySide, mySymbol, myCpCompany)">
    					Cross Detail</md-button>

			</div>
		</md-card-content>
	</md-card>
	</div>
</body>
</html>