<md-dialog flex="90" aria-label="Crossing">
  	<md-toolbar class="md-menu-toolbar">
		<div layout="row">
			<!-- <md-toolbar-filler layout layout-align="center center">
		        <md-icon md-svg-icon="call:chat"></md-icon>
		      </md-toolbar-filler> -->
		
			<md-menu-bar> 
				<md-menu>
					<md-button class="md-fab md-primary" aria-label="Use Android" ng-click="$mdMenu.send()"> 
					    <!-- <md-icon ng-style="{color: #00A}" class="material-icons step" ng-class="font-size: 24px;" ng-bind="email"></md-icon> -->
						<md-icon md-svg-src="img/icons/ic_email_24px.svg"></md-icon>
					</md-button>
					<md-menu-content />
						<!-- <md-menu-item> <md-button class="md-fab md-primary" aria-label="Use Android"> 
							<md-icon md-svg-src="img/icons/ic_email_24px.svg"></md-icon> 
						</md-button> </md-menu-item> 
					<md-menu-content /> -->
			 	</md-menu>
			 	<md-menu>
					<md-button class="md-fab orevie wmd-primary" aria-label="Use Android" ng-click="$mdMenu.preview()"> 
						<md-icon md-svg-src="img/icons/ic_fullscreen_24px.svg"></md-icon> 
					</md-button>
					<md-menu-content />
			 	</md-menu>
			</md-menu-bar>
		</div>
	</md-toolbar>

    <md-card>
 		<md-toolbar md-scroll-shrink>
 			<div class="md-toolbar-tools">General</div> 
		</md-toolbar> 
 		<md-card-content layout-padding>
 <form name="userForm">
 			<div layout-gt-xs="row" >
			 	<md-input-container class="md-block" > 
					<label>Party</label> 
					<md-select ng-model="myParty"> 
						<md-option><em></em></md-option> 
						<md-option ng-repeat="n in parties" ng-value="n">{{n}}</md-option>
					</md-select> 
				</md-input-container>
				<md-input-container class="md-block"> 
					<label>Partial / Final</label> 
					<md-select ng-model="myTdStatus">
						<md-option><em></em></md-option>
						<md-option ng-repeat="n in tdStatus" ng-value="n">{{n}}</md-option>
					</md-select>
				</md-input-container>
				<md-input-container class="md-block" ng-if="myCcy !== 'HKD'"> 
					<label>Rate</label>
					<input type="number" required name="rate" ng-model="myRate" maxlength="10">
					<div ng-messages="userForm.rate.$error">
      					<div ng-message="required">This is required!</div>
      				</div>
				</md-input-container>
				<md-input-container class="md-block" > 
					<label max-length="50">Ccy</label>
					<input ng-disabled="true" ng-model="myCcy">
				</md-input-container>
				<md-input-container class="md-block" flex> 
					<label>Fee</label>
					<input type="number" required name="fee" ng-model="myFee" maxlength="15">
					<div ng-messages="userForm.fee.$error">
      					<div ng-message="required">This is required!</div>
      				</div>
				</md-input-container>
			</div>
</form>
			<div layout-gt-xs="row" >
				<md-input-container class="md-block" > 
					<label>Price</label> 
					<input ng-disabled="true" ng-model="myPremium">
				</md-input-container>
				<md-input-container class="md-block" > 
					<label>Trade ID</label> 
					<input ng-disabled="true" ng-model="myTradeId">
				</md-input-container>
				<md-input-container class="md-block" > 
					<label>Ref</label> 
					<input ng-disabled="true" ng-model="myRef">
				</md-input-container>
				<md-input-container class="md-block" > 
					<label>Side</label> 
					<input ng-disabled="true" ng-model="mySide">
				</md-input-container>
				<md-input-container class="md-block" > 
					<label>Qty</label> 
					<input ng-disabled="true" ng-model="myQty">
				</md-input-container>
				<md-input-container class="md-block" > 
					<label>Delta (%)</label> 
					<input ng-disabled="true" ng-model="myDelta">
				</md-input-container>
			</div>
		</md-card-content> 
	</md-card>
						 
	<md-card>
		<!-- Legs Panel -->
		<md-card-title> 
			<md-card-title-text>
				<span class="md-headline">Leg Detail</span> 
			</md-card-title-text> 
		</md-card-title> 
		
  		<md-content layout-padding>
		<div id="gridLeg" ui-grid="legGrid" class="myTradesGrid"  
			ui-grid-resize-columns ui-grid-auto-resize ui-grid-move-columns
			ui-grid-edit ui-grid-cellNav u-grid-pinning > 
			<!-- ui-grid-expandable>-->
			</div>
		</md-content>
	</md-card>
</md-dialog>
