<div>
<!-- 
    <select ng-model="row.entity.Gender" data-ng-options="d as d.type for d in grid.appScope.genderTypes">
        <option value="" selected disabled>Choose Gender</option>
    </select>
    -->
    <i class="material-icons" style="color:red" ng-show="row.entity.Delta === ''">error_outline</i>
    <input class="form-control" ng-input="row.entity.Delta" ng-model="row.entity.Delta" />
        <!--
    <i class="material-icons" style="font-size:36px;color:red">error_outline</i>
 
     <select ng-model="row.entity.Gender" style="background-color: red !important" data-ng-options="d as d.type for d in grid.appScope.genderTypes">
        <option style="background-color: red !important" value="" selected disabled>Choose Gender</option>
    </select>
     -->
</div>